<div>
<!-- Champ de saisie lié à un contrôle de formulaire Angular -->
<!-- [formControl]="searchText" : Lie le champ de saisie à l'objet FormControl nommé 'searchText'. -->
<!-- placeholder="Your message..." : Affiche un texte indicatif quand le champ est vide. -->
<!-- class="...": Ajoute des classes CSS pour le style, comme bordures, couleurs, et alignement. -->

    <input type="text" placeholder="Your message..."  [formControl]="searchText"
    class="flex-1 bg-transparent border-none outline-none px-4 text-gray-300 placeholder-gray-500"/>
  
    <button (click)="onButtonClick()"></button>
<!--A supprimer , il s'agit juste d'un test-->
    <p class="text-purple-500">{{searchText.value}}</p>
</div>
