<div>

    <app-search-bar></app-search-bar>

    <input type="text" placeholder="Your message..." 
    (input)="onInputChange($event.target.value)"
    class="flex-1 bg-transparent border-none outline-none px-4 text-gray-300 placeholder-gray-500"/>
  
     <!-- L'objet $event, à la méthode qui gère l'événement. $event contient souvent des informations dont la méthode a besoin,
     comme le nom d'un utilisateur ou l'URL d'une image. -->

     <!-- L'événement 'target' détermine la forme de l'objet $event 
    Lorsque l'utilisateur effectue des modifications, le composant déclenche l'événement input.
    La liaison exécute l'instruction dans un contexte qui inclut l'objet d'événement DOM, $event.-->

    <button (click)="onButtonClick()"></button>

</div>
