<div class="w-full  h-full bg-[#222226] border-0 border-r-2  overflow-y-scroll">


    <!--Conteneur pour le profil de l'utilsateur-->
    <div class="flex content-center gap-x-5 border-0 border-b-2  lg:p-10 md:p-4 p-10">

        <!--Image de l'utilisateur-->
        <div class="flex items-center ">
            <div class="relative h-fit">
                <img class="lg:w-16 lg:h-16  md:w-10 md:h-10 w-20 h-20 rounded-full" [src]="currUser.avatar" [alt]="currUser.userName">
                 <!--si il est connecté => vert , si il n'est pas => rouge-->
                <span [ngClass]="{' bg-green-400' : currUser.stateOnline , 'bg-red-400' : !currUser.stateOnline  }" class ="bottom-0 lg:left-11 md:left-7 right-2  absolute w-6 h-6 md:w-3 md:h-3 lg:w-5 lg:h-5 border-2 border-white dark:border-gray-800 rounded-full"></span>
             </div>
        </div>
     
    
              <!--Nom et status de l'utilisateur-->
          <div class="flex flex-col justify-center"> 
            <h1 class="lg:text-3xl md:text-sm text-3xl">{{currUser.userName}}</h1>
            <p class="text-secondary font-light lg:text-md md:text-sm text-lg">{{currUser.statut}}</p>
          </div>


    </div>


    <!--Conteneur pour la liste d'utilisateur en ligne-->
    <div class="lg:p-10 md:p-4 p-10 md:-mb-9">
        
        <!--Liste des amis en lignes-->
        <div class="flex justify-between">

            <h2 class="cool-color-text tracking-wider lg:text-2xl md:text-lg text-2xl font-semibold">Online now</h2>

            <!--Nombre d'amis en ligne-->
            <div class="lg:py-2 lg:px-3 md:py-1 md:px-2 p-2 rounded-lg bg-purple-500 font-light">
                <p class="lg:text-md text-sm">{{onlineUserNumber}}</p>  <!--A changer en fonction de la liste de personne ne ligne-->
            </div>
        </div>

        <!--scrollable liste amis -->
        <div class="relative rounded-xl overflow-x-auto -mb-10 pt-8 overflow-hidden py-4">
            <ul class="max-h-20 flex">
                    @for (user of users ; track user.id ){
                        @if ( onlineUserNumber > 0  && user.stateOnline){
                            <div class="flex justify-center flex-col text-center">
                                <app-user-icon [user]="user"></app-user-icon>                              
                                <div class="w-full mt-2 ">
                                    <p class="text-[.4em] ">{{user.userName}}</p>
                                </div>
                            </div>
                        }
                    }
                    @if( onlineUserNumber == 0 ){
                        <p  [ngClass]="{'block' : onlineUserNumber == 0}" class="pb-6"> <span class="opacity-30">Seems like no one is online </span> 😢 </p> <!--aucun amis connecté-->
                     }
    
            </ul>
        </div>
        
       
    </div>


    <!--Conteneur pour afficher le nombre de conversation entamer-->
    <div class="flex flex-col lg:p-10 md:p-4 p-10 gap-y-7 lg:mt-0 md:mt-6">

       <!--Message et nouveau message button-->
        <div class="flex items-center justify-between">

            <!--Messages et chevrons d'ouverture-->
             <div class="flex items-center gap-3">
                    <div>
                        <h2 class="tracking-wider opacity-85  lg:text-2xl md:text-lg text-2xl">Messages</h2>
                    </div>
                    
                    <!--Chevron down qui s'anime quand on click dessus-->
                    <button (click)="showMessagesList()" [ngClass]="{'rotate-180' : !isShow}" class="z-40 cursor-pointer transition-all hover:rotate-180 w-fit">
                        <svg  xmlns="http://www.w3.org/2000/svg" class="lg:w-4 lg:h-4 md:w-3 md:h-3 w-4 h-4 "  viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path    fill="#ffffff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                  </button>

            </div>

            <!-- nouveau message button-->
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" class=" w-5 h-5"  height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path class="transition-all hover:fill-purple-500" fill="#ffffff" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg>            
                </button>
   
       </div>

       <!--barre de recherche-->
       <div class="relative flex">

        <!--search icon from fontAwesome-->
        <div class="absolute left-2 top-[1.08em] rounded-s-md flex flex-row justify-start ">
            <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#a0a0a0" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>       
         </div>

       <!--search input-->
        <div class="w-full">
         <app-search-bar></app-search-bar>
       </div>
      </div>

     </div>

    <!--Liste de messages-->
     <div [ngClass]="{'hidden' : !isShow , 'block' : isShow}" class="overflow-y-auto lg:px-5 md:px-0 px-5">

            <div class="flex flex-col gap-9">
                @if ( messages.length > 0){
                    @for (message of messages; track $index) {
                            <app-message-card [message]="message"></app-message-card>
                    }
                }
               
            </div>
          
    
      </div>
    


</div>

